<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{{ path('movie_index') }}">Liste des films</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('movie_new') }}">Créer un film</a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genres
        </a>
        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for genre in navbar_genres.getGenres() %}
          <a class="dropdown-item" href="{{ path('movie_index_genre', {'name': genre.name}) }}">{{ genre.name }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      {% if app.user is not null %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('user') }}">Mon profil {{ app.user.email }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Se déconnecter</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">S'inscrire</a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>

{% block javascripts %}
<script>
    const dropdownButton = document.getElementById("navbarDropdown");
    const dropdownMenu = document.getElementById("dropdown-menu");
    dropdownButton.addEventListener('click', function () {
      if (dropdownMenu.style.display === 'none') {
        dropdownMenu.style.display = "block";
      } else {
        dropdownMenu.style.display = "none";
      }
    });
</script>
{% endblock %}