{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>Serie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>TmdbID</th>
                <td>{{ serie.tmdbID }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ serie.name }}</td>
            </tr>
            <tr>
                <th>FirstDate</th>
                <td>{{ serie.firstDate ? serie.firstDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>{{ serie.overview }}</td>
            </tr>
            <tr>
                <th>PosterPath</th>
                <td>{{ serie.posterPath }}</td>
            </tr>
            <tr>
                <th>GenreIDs</th>
                <td>{{ serie.genreIDs }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('serie_index') }}">back to list</a>

    <a href="{{ path('serie_edit', {'id': serie.id}) }}">edit</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
